/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

/dts-v1/;
#include <st/f4/stm32f411Xe.dtsi>
#include <st/f4/stm32f411c(c-e)ux-pinctrl.dtsi>
#include <dt-bindings/zmk/matrix_transform.h>
#include <dt-bindings/led/led.h>

/ {
	model = "cleaver, rev_1"; 
	compatible = "cleaver,rev_1";

	chosen {
		zephyr,console = &usart1;
		zephyr,shell-uart = &usart1;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zmk,kscan = &kscan0;
		zmk,matrix_transform = &default_transform;
		zmk,underglow = &led_strip;
	};

	default_transform: keymap_transform_0 {
		compatible = "zmk,matrix-transform";
		columns = <15>;
		rows = <5>;
		map = <
			RC(0,0)	RC(0,1)	RC(0,2)	RC(0,3)	RC(0,4)	RC(0,5)	RC(0,6)	RC(0,7)	RC(0,8)	RC(0,9)	RC(0,10) RC(0,11) RC(0,12) RC(0,13) RC(2,13) RC(0,14)
			RC(1,0)	RC(1,1)	RC(1,2)	RC(1,3)	RC(1,4)	RC(1,5)	RC(1,6)	RC(1,7)	RC(1,8)	RC(1,9)	RC(1,10) RC(1,11) RC(1,12) RC(1,13) RC(1,14)
			RC(2,0)	RC(2,1)	RC(2,2)	RC(2,3)	RC(2,4)	RC(2,5)	RC(2,6)	RC(2,7)	RC(2,8)	RC(2,9)	RC(2,10) RC(2,11) RC(2,12)          RC(2,14)
			RC(3,0)	RC(3,1)	RC(3,2)	RC(3,3)	RC(3,4)	RC(3,5)	RC(3,6)	RC(3,7)	RC(3,8)	RC(3,9)	RC(3,10) RC(3,11) RC(3,12) RC(3,13) RC(3,14)
			RC(4,0)	RC(4,1) RC(4,2)		                         	RC(4,6)	                RC(4,10) RC(4,11) RC(4,12) RC(4,13) RC(4,14)
			>;
	};

 
	kscan0: kscan {
		compatible = "zmk,kscan-gpio-matrix";
		diode-direction = "col2row";
		row-gpios
			= <&gpioa 3 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
			, <&gpiob 13 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
			, <&gpiob 0 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
			, <&gpiob 1 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
			, <&gpiob 11 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
			;
		col-gpios
			= <&gpioa 0 GPIO_ACTIVE_HIGH>
			, <&gpioa 6 GPIO_ACTIVE_HIGH>
			, <&gpioa 8 GPIO_ACTIVE_HIGH>
			, <&gpioa 4 GPIO_ACTIVE_HIGH>
			, <&gpioa 7 GPIO_ACTIVE_HIGH>
			, <&gpiob 8 GPIO_ACTIVE_HIGH>
			, <&gpioa 9 GPIO_ACTIVE_HIGH>
			, <&gpioa 10 GPIO_ACTIVE_HIGH>
			, <&gpiob 6 GPIO_ACTIVE_HIGH>
			, <&gpiob 4 GPIO_ACTIVE_HIGH>
			, <&gpiob 2 GPIO_ACTIVE_HIGH>
			, <&gpiob 10 GPIO_ACTIVE_HIGH>
			, <&gpioa 1 GPIO_ACTIVE_HIGH>
			, <&gpioa 5 GPIO_ACTIVE_HIGH>
			, <&gpiob 9 GPIO_ACTIVE_HIGH>
			;
	};
};

&gpioa {
	status = "okay";
};

&gpiob {
	status = "okay";
};

/* USB configuration */
zephyr_udc0: &usbotg_fs {
    status = "okay";
    pinctrl-0 = <&usb_otg_fs_dm_pa11 &usb_otg_fs_dp_pa12>;
    pinctrl-names = "default";
    num-bidir-endpoints = <6>;
    
    cdc_acm_uart0: cdc_acm_uart0 {
        compatible = "zephyr,cdc-acm-uart";
        label = "CDC_ACM_0";
    };
};

/* Clock configuration for 8MHz external oscillator */
&clk_hse {
    status = "okay";
    clock-frequency = <DT_FREQ_M(8)>;  /* 8MHz external oscillator */
};

&pll {
    status = "okay";
    div-m = <4>;
    mul-n = <72>;
    div-p = <2>;
    div-q = <3>;
    clocks = <&clk_hse>;
};

&rcc {
    clocks = <&pll>;
    clock-frequency = <DT_FREQ_M(72)>;
    ahb-prescaler = <1>;
    apb1-prescaler = <2>;
    apb2-prescaler = <1>;
};

&rtc {
    status = "okay";
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x00000000 DT_SIZE_K(32)>;
			read-only;
		};

		/*
		 * The flash starting at offset 0x00008000 and ending at
		 * offset 0x0001ffff (sectors 2 through 4) is reserved for
		 * use by the application.
		 */

		slot0_partition: partition@20000 {
			label = "image-0";
			reg = <0x00020000 DT_SIZE_K(128)>;
		};
		slot1_partition: partition@40000 {
			label = "image-1";
			reg = <0x00040000 DT_SIZE_K(128)>;
		};
		scratch_partition: partition@60000 {
			label = "image-scratch";
			reg = <0x00060000 DT_SIZE_K(128)>;
		};

		storage_partition: partition@80000 {
			label = "storage";
			reg = <0x00080000 DT_SIZE_K(64)>;
		};
	};
};

&timers4 {
	status = "okay";
	pwm4: pwm {
		status = "okay";
		pinctrl-0 = <&tim4_ch1_pb6 &tim4_ch2_pb7>;
		pinctrl-names = "default";
	};
};

&usart1 {
	pinctrl-0 = <&usart1_tx_pa9 &usart1_rx_pa10>;
	pinctrl-names = "default";
	status = "okay";
	current-speed = <115200>;
};

&i2c1 {
	pinctrl-0 = <&i2c1_scl_pb8 &i2c1_sda_pb9>;
	pinctrl-names = "default";
	status = "okay";
	clock-frequency = <I2C_BITRATE_FAST>;
};

&spi1 {
    status = "okay";
    pinctrl-0 = <&spi1_sck_pa5 &spi1_miso_pa6 &spi1_mosi_pa7>;
    pinctrl-names = "default";
    
    led_strip: ws2812@0 {
        compatible = "worldsemi,ws2812-spi";
        reg = <0>;
        spi-max-frequency = <4000000>;
        chain-length = <1>; /* single LED for testing */
        spi-one-frame = <0x70>;
        spi-zero-frame = <0x40>;
        color-mapping = <LED_COLOR_ID_GREEN
                        LED_COLOR_ID_RED
                        LED_COLOR_ID_BLUE>;
        status = "okay";
    };
};

