# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if BOARD_CLEAVER

config ZMK_KEYBOARD_NAME
	default "cleaver"


# 72MHz system clock
CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC=72000000


config USB_DEVICE_STACK
	default y


config ZMK_USB
	default y

config I2C
	default y

endif # BOARD_CLEAVER