# Serene65 SOC configuration

# Copyright (c) 2025 Matthijs Muller
# SPDX-License-Identifier: MIT

config SOC_STM32F411XE
    select SOC_SERIES_STM32F4X
    select CPU_CORTEX_M4
    select CPU_HAS_FPU 