/*
 * Copyright (c) 2025 Matthijs Muller
 *
 * SPDX-License-Identifier: MIT
 */

/ {
    chosen {
        zmk,kscan = &kscan_hall_effect;
    };

    kscan_hall_effect: kscan_hall_effect {
        compatible = "zmk,matrix-hall-effect";
        label = "KSCAN_HALL_EFFECT";
        status = "okay";
        
        diode-direction = "col2row";
    };
};

&gpioa {
    status = "okay";
};

&gpiob {
    status = "okay";
};

&gpioc {
    status = "okay";
};

&adc1 {
    status = "okay";
    pinctrl-0 = <&adc1_in3_pa3>;
    pinctrl-names = "default";
    st,adc-prescaler = <2>;
    #address-cells = <1>;
    #size-cells = <0>;
    
    /* Make certain ADC is configured for STM32 */
    compatible = "st,stm32-adc";
    
    /* Add this to explicitly set up the channel */
    channel@3 {
        reg = <3>;
        zephyr,gain = "ADC_GAIN_1";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
        zephyr,resolution = <12>;
    };
};

&spi2 {
    status = "okay";
    pinctrl-0 = <&spi2_sck_pb13 &spi2_mosi_pb15>;
    pinctrl-names = "default";
};

&zephyr_udc0 {
    status = "okay";
    cdc_acm_uart0: cdc_acm_uart0 {
        compatible = "zephyr,cdc-acm-uart";
    };
};

/ {
    chosen {
        zephyr,console = &cdc_acm_uart0;
    };
};