# Copyright (c) 2021 The ZMK Contributors
# SPDX-License-Identifier: MIT

# Board configuration
CONFIG_BOARD_SERENE65=y

# SOC configuration

CONFIG_SOC_SERIES_STM32F4X=y
CONFIG_SOC_STM32F411XE=y

# 72MHz system clock
CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC=72000000

# Enable GPIO
CONFIG_GPIO=y

# Enable pinctrl
CONFIG_PINCTRL=y

# Enable RGB underglow
CONFIG_ZMK_RGB_UNDERGLOW=y
CONFIG_WS2812_STRIP=y
CONFIG_LED_STRIP=y
CONFIG_WS2812_STRIP_SPI=n
CONFIG_SPI=n
CONFIG_PWM=y
CONFIG_DMA=y

# Enable ADC
CONFIG_ADC=y
CONFIG_ADC_STM32=y

# Enable settings
CONFIG_SETTINGS=y
CONFIG_SETTINGS_RUNTIME=y
CONFIG_SETTINGS_NVS=y

# Enable hall effect driver
CONFIG_ZMK_HALL_EFFECT=y
CONFIG_ZMK_HALL_EFFECT_CALIBRATION=y
CONFIG_ZMK_HALL_EFFECT_RAPID_TRIGGER=y

# Enable matrix driver
CONFIG_ZMK_KSCAN_MATRIX_DRIVER=y

CONFIG_ISR_STACK_SIZE=1024

# clock configuration
CONFIG_CLOCK_CONTROL=y

CONFIG_ZMK_USB=y

CONFIG_ZMK_RGB_UNDERGLOW_EXT_POWER=n

# Enable MPU
CONFIG_ARM_MPU=y

# Enable HW stack protection
CONFIG_HW_STACK_PROTECTION=y

# Enable UART console
CONFIG_SERIAL=y
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y

# Enable USB
CONFIG_USB_DEVICE_STACK=y
CONFIG_USB_DEVICE_MANUFACTURER="Matthijs Muller"
CONFIG_USB_DEVICE_PRODUCT="Serene65"
CONFIG_USB_DEVICE_VID=0x1D50
CONFIG_USB_DEVICE_PID=0x615E
CONFIG_USB_DEVICE_HID=y
CONFIG_USB_NUMOF_EP_WRITE_RETRIES=10

# Configure hardware critical sections
CONFIG_REBOOT=y

# Enable flash storage
CONFIG_FLASH=y
CONFIG_FLASH_MAP=y
CONFIG_NVS=y

# Configure MPU to allow USB
CONFIG_MPU_ALLOW_FLASH_WRITE=y

# Logging level
CONFIG_ZMK_LOG_LEVEL_INF=y
CONFIG_USB_DEVICE_LOG_LEVEL_ERR=y
CONFIG_UART_LOG_LEVEL_WRN=y
CONFIG_PRINTK=y